@import '@angular/material/prebuilt-themes/purple-green.css';

/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.page {
  height: 100vh;
}


router-outlet+* {
  padding: 0 16px;
}

.container {
  padding: 4rem;
}


/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}


/* Fancy Button */

.fancy-button i.material-icons {
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ddd;
  a {
    text-decoration: none;
    &:active {
      color: black;
    }
  }
  .fancy-button {
    font-size: 24px;
  }
}

app-top-bar h1 {
  margin: 0;
}

/* Checkout Cart, Shipping Prices */

.cart-item,
.shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  color: black;
  background-color: #EEEEEE;
}

mat-card {
  width: calc(100% - 70px);
  height: calc(100% - 100px);
  &-header {
    &:hover {
      cursor: pointer;
    }
  }
}

mat-card-actions {
  position: absolute;
  bottom: 50px;
}

.product-link, .product-link:visited {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

mat-card {
  min-width: 200px !important;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
